//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 14 14:09:13 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "M11" LEVEL 1;
COMP "led_seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "led_seg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "led_seg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "led_seg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "pause" LOCATE = SITE "C4" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "led_seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "U15" LEVEL 1;
COMP "led_seg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "V15" LEVEL 1;
COMP "led_seg<2>" LOCATE = SITE "M14" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "_reset/d2/Q" BEL "_reset/d1/Q" BEL "_pause/d2/Q"
        BEL "_pause/d1/Q" BEL "_reset/t1/counter_0" BEL "_reset/t1/counter_1"
        BEL "_reset/t1/counter_2" BEL "_reset/t1/counter_3" BEL
        "_reset/t1/counter_4" BEL "_reset/t1/counter_5" BEL
        "_reset/t1/counter_6" BEL "_reset/t1/counter_7" BEL
        "_reset/t1/counter_8" BEL "_reset/t1/counter_9" BEL
        "_reset/t1/counter_10" BEL "_reset/t1/counter_11" BEL
        "_reset/t1/counter_12" BEL "_reset/t1/counter_13" BEL
        "_reset/t1/counter_14" BEL "_reset/t1/counter_15" BEL
        "_reset/t1/counter_16" BEL "_reset/t1/counter_17" BEL
        "_clock_divider/clk_1hz" BEL "_clock_divider/clk_400hz" BEL
        "_clock_divider/counter_400hz_11" BEL "_clock_divider/counter_400hz_9"
        BEL "_clock_divider/counter_400hz_8" BEL
        "_clock_divider/counter_400hz_10" BEL "_clock_divider/counter_400hz_6"
        BEL "_clock_divider/counter_400hz_5" BEL
        "_clock_divider/counter_400hz_7" BEL "_clock_divider/counter_400hz_3"
        BEL "_clock_divider/counter_400hz_4" BEL
        "_clock_divider/counter_1hz_10" BEL "_clock_divider/counter_1hz_9" BEL
        "_clock_divider/counter_1hz_11" BEL "_clock_divider/counter_1hz_7" BEL
        "_clock_divider/counter_1hz_6" BEL "_clock_divider/counter_1hz_8" BEL
        "_clock_divider/counter_1hz_4" BEL "_clock_divider/counter_1hz_5" BEL
        "_clock_divider/counter_400hz_12" BEL "_clock_divider/counter_1hz_12"
        BEL "_clock_divider/counter_400hz_13" BEL
        "_clock_divider/counter_1hz_13" BEL "_clock_divider/counter_400hz_14"
        BEL "_clock_divider/counter_1hz_14" BEL
        "_clock_divider/counter_400hz_15" BEL "_clock_divider/counter_1hz_15"
        BEL "_clock_divider/counter_400hz_16" BEL
        "_clock_divider/counter_1hz_16" BEL "_clock_divider/counter_1hz_17"
        BEL "_clock_divider/counter_1hz_18" BEL
        "_clock_divider/counter_1hz_19" BEL "_clock_divider/counter_1hz_20"
        BEL "_clock_divider/counter_1hz_21" BEL
        "_clock_divider/counter_1hz_22" BEL "_clock_divider/counter_1hz_23"
        BEL "_clock_divider/counter_1hz_25" BEL
        "_clock_divider/counter_1hz_24" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

